#tweets_grid {
	pivot: 0 0;
	left: 0px;
	top: 40px;
    bottom: 0px;
	padding-bottom: 70px;
    show-scrollbars: vertical;
    cols: 2;
}

#top_bar {
	pivot: 0 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
    background-style: ninepatch(1,1);
    background-image: header.png;
}

#title {
	pivot: 0 0.5;
    left: 15px;
    top: center;
    color: #ffffff;
    shadow-offset: 1 1;
    shadow-color: #3b2934;
    font-size: 14px;
}

#search_text {
	pivot: 1 0.5;
	right: 80px;
	top: center;
	height: 20px;
	width: 100px;
	background-color: #ffffff;
	color: #000000;
	action-key: search;
	font-size: 9px;
}

#search_button {
	pivot: 1 0.5;
	right: 15px;
	top: center;
	width: 55px;
	height: 25px;
	background-style: color(#898989);
}
#search_button:highlighted {
	top: center + 1px;
	background-style: color(#343434);
}

#search_label {
	pivot: 0.5 0.5;
	left: center;
	top: center;
	font-weight: bold;
	color: #000000;
	font-size: 9px;
}
#search_label:highlighted {
	color: #ffffff;
}

@show_gridview {
    top: 40px;
    duration: 0.8s;
    curve: ease-in-out;
}